<div class="page-content bo-promotions">
  <div class="main-container">
    <h1>Акции</h1>
    <!--Добавить фильтрацию-->
  </div>
  <div class="promotions-list">
    <div class="main-container promotion" *ngFor="let promo of promos">
      <div class="left-block">
        <img [src]="promo?.photo?.original.url" alt="">
      </div>
      <div class="center--block">
        <h1>{{promo?.name}}</h1>
        <span>{{promo?.description}}</span>
        </div>
      <div class="right-block share-list">
        <div><button class="share-button" md-fab (click)="Share.vkontakte('http://sarafan.online/promo/'+promo._id+'?user='+user._id+'&source=vk', promo?.name, 'http://sarafan.online'+promo.photo.original.url, promo?.description, promo._id)">VK</button></div>
        <!--<button md-fab (click)="Share.facebook('http://sarafan.online/promo/'+promo.id+'?user='+user._id+'&source=fb', promo?.name, 'http://sarafan.online'+promo?.photo?.original?.name, promo?.description)">FB</button>-->
        <div><button class="share-button" md-fab (click)="Share.facebook('http://sarafan.online/promo/'+promo._id+'?user='+user._id+'&source=fb','http://sarafan.online'+promo?.photo?.original?.name, promo?.description, promo._id)">FB</button></div>
        <div><button class="share-button" md-fab (click)="Share.twitter('http://sarafan.online/promo/'+promo._id+'?user='+user._id+'&source=tw', promo?.name, promo?.description, promo._id)">TW</button></div>
        <div><button class="share-button" md-fab (click)="openHTMLDialog(promo)">HTML</button></div>
        <div><button class="share-button" md-fab (click)="openLinkDialog(promo)">Link</button></div>
      </div>
    </div>
  </div>
</div>