<div class="page-content profile">
  <div class="main-container">
    <form (submit)="saveUserInfo()">
      <div class="profile-columns">
        <div class="column-1">
          <h1>Аккаунт</h1>
          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="Фактическое название" [ngModel]="user?.actualName" (ngModelChange)="user.actualName=$event"
              name="actualName">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="Фактический адрес" [ngModel]="user?.actualAddress" (ngModelChange)="user.actualAddress=$event"
              name="actualAddress">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="Фамилия" [ngModel]="user?.surname" (ngModelChange)="user.surname=$event" name="surname">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="Имя" value="" [ngModel]="user?.name" (ngModelChange)="user.name=$event" name="name">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="Отчество" [ngModel]="user?.lastname" (ngModelChange)="user.lastname=$event" name="lastname">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="Телефон" [ngModel]="user?.phone" (ngModelChange)="user.phone=$event" name="phone">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="Город" [ngModel]="user?.city" (ngModelChange)="user.city=$event" name="city">
          </md-input-container>
        </div>
        <div class="column-2">
          <h1>Реквизиты</h1>
          <md-input-container dividerColor="accent">
            <input mdInput disabled placeholder="Валюта" [ngModel]="user?.requisites.currency" name="currency">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="ИНН" [ngModel]="user?.requisites.inn" (ngModelChange)="user.requisites.inn=$event" name="inn">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="Юридическое название или ФИО ИП" [ngModel]="user?.requisites.legalName" (ngModelChange)="user.requisites.legalName=$event"
              name="legalName">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="Юридический адрес" [ngModel]="user?.requisites.legalAddress" (ngModelChange)="user.requisites.legalAddress=$event"
              name="legalAddress">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="КПП" [ngModel]="user?.requisites.kpp" (ngModelChange)="user.requisites.kpp=$event" name="kpp">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="Расчетный счет" [ngModel]="user?.requisites.paymentAccount" (ngModelChange)="user.requisites.paymentAccount=$event"
              name="paymentAccount">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="БИК" [ngModel]="user?.requisites.bik" (ngModelChange)="user.requisites.bik=$event" name="bik">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="Название банка" [ngModel]="user?.requisites.bankName" (ngModelChange)="user.requisites.bankName=$event"
              name="bankName">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput placeholder="Корр. счет" [ngModel]="user?.requisites.correspondentAccount" (ngModelChange)="user.requisites.correspondentAccount=$event"
              name="correspondentAccount">
          </md-input-container>
        </div>
        <button md-raised-button type="button" (click)="saveUserInfo()" color="accent">Сохранить</button>
      </div>
    </form>
  </div>
</div>