<div class="modal">
  <div class="reg-modal">
    <div class="modal-title">
      Редактирование акции
    </div>
    <form #registerForm="ngForm" (ngSubmit)="savePromo()">
      <div class="modalContent">

        <md-input-container dividerColor="accent">
          <input mdInput required placeholder="Название" [(ngModel)]="promo.name" name="name">
        </md-input-container>
        <div class="date-picker-wrap">
          <md-input-container>
            <input mdInput [mdDatepicker]="pickerFrom" placeholder="Дата начала:" name="dateStart" [(ngModel)]="promo.dateStart">
            <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
          </md-input-container>
          <md-datepicker #pickerFrom></md-datepicker>
          <!-- <material-datepicker placeholder="Дата начала:" dateFormat="DD-MM-YYYY" accentColor='#6ebf33' [(date)]="promo.dateStart">
          </material-datepicker>
          <md-icon [style.color]="'#757575'">date_range</md-icon> -->
        </div>
        <div class="date-picker-wrap">
          <md-input-container>
            <input mdInput [mdDatepicker]="pickerTo" placeholder="Дата конца:" name="dateEnd" [(ngModel)]="promo.dateEnd">
            <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
          </md-input-container>
          <md-datepicker #pickerTo></md-datepicker>

          <!-- <material-datepicker placeholder="Дата конца:" dateFormat="DD-MM-YYYY" accentColor='#6ebf33' [(date)]="promo.dateEnd">
          </material-datepicker>
          <md-icon [style.color]="'#757575'">date_range</md-icon> -->
        </div>
        <md-input-container class="full-height" dividerColor="accent">
          <textarea mdInput required placeholder="Описание" [(ngModel)]="promo.description" name="description" style="resize: vertical;"></textarea>
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required placeholder="URL" [(ngModel)]="promo.url" name="url">
        </md-input-container>

      </div>
      <input type="file" (change)="addPhoto($event)" placeholder="Upload file" accept=".jpg,.png,.jpeg"><br><br>
      <button md-raised-button type="submit " name="save ">Сохранить</button>
    </form>
  </div>
</div>
