<div class="page-content orders">
  <div class="main-container">
    <h1 style="margin-bottom: 0">Заказы</h1>
    <md-input-container dividerColor="accent" class="search-input">
      <input mdInput placeholder="Поиск по названию магазина" value="" (keyup)='updateNameFilter($event)'>
    </md-input-container>
    <md-select placeholder="Статус">
      <md-option *ngFor="let status of statuses" [value]="status.value" color="accent">
        {{ status.viewValue }}
      </md-option>
    </md-select>
    <md-select placeholder="Источник трафика" accentColor="accent">
      <md-option *ngFor="let source of sources" [value]="source.value">
        {{ source.viewValue }}
      </md-option>
    </md-select>
    <span class="date-picker-wrap">
        <span class="date-start">
          <md-input-container>
            <input mdInput [mdDatepicker]="pickerFrom" placeholder="c" [(ngModel)]="yourModelDate">
            <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
          </md-input-container>
          <md-datepicker #pickerFrom></md-datepicker>
          <!--<material-datepicker placeholder="с"
          accentColor='#6ebf33'
          [(date)]="yourModelDate">
          </material-datepicker>
          <md-icon [style.color]="'#757575'">date_range</md-icon> -->
        </span>
    <span class="date-end">
          <md-input-container>
            <input mdInput [mdDatepicker]="pickerTo" placeholder="по" [(ngModel)]="yourModelDateEnd">
            <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
          </md-input-container>
          <md-datepicker #pickerTo></md-datepicker>

          <!-- <material-datepicker placeholder="по"
          accentColor='#6ebf33'
          [(date)]="yourModelDateEnd">
          </material-datepicker>
          <md-icon [style.color]="'#757575'">date_range</md-icon> -->
        </span>
    </span>
  </div>
  <div class="main-container">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <td *ngFor="let column of columns">
              {{column.name}}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>
              {{order?.number}}
            </td>
            <td>
              {{order.date | date: 'dd.MM.yyyy HH:MM'}}
            </td>
            <td>
              {{order.siteId.name}}
            </td>
            <td>
              {{order.target?.name}}
            </td>
            <td>
              {{order.value}}
            </td>
            <td>
              {{order?.userId?.login}}
            </td>
            <td>
              {{order.target?.payments.execute}}
            </td>
            <td>
              {{order?.source}}
            </td>
            <td>
              <span class="disable-text" *ngIf="order.status ==='declined'">
                отклонён
              </span>
              <span *ngIf="order.status ==='pending'">
                ожидает подтверждения
              </span>
              <span class="approved-text" *ngIf="order.status ==='approved'">
                подтверждён
              </span>
            </td>
            <td *ngIf="order.status ==='pending'">
              <a (click)="approvedOrder(order)" class="approved-text">подтвердить</a>
              <br>
              <a (click)="declineOrder(order)" class="disable-text">отклонить</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
