doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/libs/bootstrap/bootstrap-grid-3.3.1.min.css')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/material.css')
    link(rel='stylesheet', type='text/css', href='/libs/slick/slick.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/jwgSlider-basic.css')
    link(rel='stylesheet', href='/libs/tabsSlider/style.css')
    link(rel='stylesheet', href='/libs/animate.css')
    link(rel='stylesheet', href='/css/spinner.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/media.css')
    link(rel='stylesheet', href='/css/style.css')
      
    //- link(rel="stylesheet" href="css/contacts.css")
    title Sarafan

    base(href='/')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
  body
    app-root  
      .spinner
        .circles

  script(type='text/javascript', src='/dist/client/inline.bundle.js')
  script(type='text/javascript', src='/dist/client/polyfills.bundle.js')
  script(type='text/javascript', src='/dist/client/vendor.bundle.js')
  script(type='text/javascript', src='/dist/client/main.bundle.js')

  script(src='/libs/jq/jquery-1.9.1.min.js')
  script(src='/libs/jquery.malihu.PageScroll2id.js')
  script(src='/libs/slick/slick.min.js')
  script(src='/libs/jwgSlider.min.js')
  script(src='/libs/tabsSlider/tabs.slider.js')
  script(src='/libs/PageScroll2id/jquery.malihu.PageScroll2id.min.js')
  script(src='/js/scripts.js')
  
  script(src='/js/sarafan.watcher.js')
