<div class="page-content requests">
  <div class="main-container">
    <h1>Заявки на вывод</h1>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <td *ngFor="let column of columns">
              {{column.name}}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td>
              {{request?.number}}
            </td>
            <td>
              {{request.date | date: 'dd.MM.yyyy HH:MM'}}
            </td>
            <td>
              {{request.value}}
            </td>
            <td>
              <img src="{{request?.userId?.photo?.small.name}}" alt=""> {{request?.userId?.login}}
            </td>
            <td>
              <span class="disable-text" *ngIf="request.status ==='declined'">
                отклонён
              </span>
              <span *ngIf="request.status ==='pending'">
                ожидает подтверждения
              </span>
              <span class="approved-text" *ngIf="request.status ==='approved'">
                подтверждён
              </span>
            </td>
            <td *ngIf="request.status ==='pending'">
              <a (click)="approvedRequest(request)" class="approved-text">подтвердить</a>
              <br>
              <a (click)="declineRequest(request)" class="disable-text">отклонить</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>