<div class="page-title">
  Платежи
</div>
<div class="flex">
  <div class="btn btn-green top-btn" (click)="addPayment()">
    <md-icon md-list-icon >add_circle_outline</md-icon>
    <div>Добавить платеж</div>
  </div>
</div>
<div class="layer"></div>
<md-card>
  <div class="flex">
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Поиск по номеру"  name="searchNum">
    </md-input-container>
    <div class="layer"></div>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Поиск по логину"  name="searchLogin">
    </md-input-container>
    <div class="layer"></div>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Поиск по назначению"  name="searchPurpose">
    </md-input-container>
  </div>
  <div class="flex-center">
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerFrom" placeholder="с">
        <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
      </md-input-container>
      <md-datepicker #pickerFrom></md-datepicker>
    </div>
    <div class="layer"></div>
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerTo" placeholder="по">
        <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
      </md-input-container>
      <md-datepicker #pickerTo></md-datepicker>
    </div>
  </div>
  <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="paymentType" name="type">
    <md-button-toggle value="left">
      Подтвержденные
    </md-button-toggle>
    <div class="layer"></div>
    <md-button-toggle value="center">
      Ожидающие
    </md-button-toggle>
    <div class="layer"></div>
    <md-button-toggle value="right">
      Отклоненные
    </md-button-toggle>
  </md-button-toggle-group>
  <table>
    <thead>
      <tr>
        <td>№</td>
        <td>Логин</td>
        <td>Способ</td>
        <td>Назначение</td>
        <td>Дата платежа</td>
        <td>Сумма</td>
        <td>Статус</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ывывыв</td>
        <td>ывывыв</td>
        <td>ывывыв</td>
        <td>ывывы</td>
        <td>ывывы</td>
        <td>ывывы</td>
        <td>ывывы</td>
        <td>
          <div class="flex-center" >
            <div class="btn-blue chip"  mdTooltip="Смотреть">
              <md-icon md-list-icon >info</md-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</md-card>
