
@media only screen and (max-width : 1240px) {
  header .theme-tag{
    right: -20px;
  }
  .s3 .tab-content>div{
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px !important;
    padding-right: 40px !important;
    box-shadow: 5px 6px 13px rgba(92, 95, 101, 0.2);
  }
  .s3 .tab-buttons{
    margin-left: 0;
  }
  .s3 .activetab{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .s3 .tab-content{
    width: 100%;
  }
  .tab-nav>span{
    top: 47%;

  }
  .tab-nav>span.next{
    right: 4px;
  }
  .tab-nav>span.prev{
    left: 4px;
  }
}
/*1240*/
@media only screen and (max-width : 1199px) {
  header .theme-tag{
    right: 10px;
  }
  /*.s1  .tabs nav{
    width: 40%;
    word-break: break-word;
  }
  .s1 .tabs .content{
    padding-left: 20px;
    left: 40%;
    width: 60%;
  }
  .s1 .tabs .content.visible{
    width: 60%;
  }*/
  section{
    padding-left: 20px;
    padding-right: 20px;
  }
  .s2 .phone-wrap{
    margin-left: -17vw;
  }
  .s2 .phone-wrap img{
    width: 50vw;
    min-width: 450px;
  }
  .s2.s4 .phone-wrap img{
    width: 27vw;
    min-width: 270px;
  }
  .s2.s4 .phone-wrap{
    margin-left: 0;
    margin-right: 30px;
  }
  .s4 .content-wrap{
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .s5 .section-wrap,
  footer .section-wrap{
    flex-direction: column;
    justify-content: center;
  }
  .s5 .card{
    margin-left: auto;
    margin-right: auto;
    width: 37vw;
    min-width: 410px;
    margin-bottom: 20px;
  }
  footer .left-col{
    text-align: center;
  }
  footer .sarafan,
  footer .rights{
    display: block;
    margin-bottom: 2px;
  }
  footer .terms{
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  footer .right-col{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  footer .dev-text{
    margin-top: 0;
    margin-right: 5px;
  }
  footer .row{
    width: 100%;
    padding: 20px 50px;
  }
  header .reg-logo-wrap{
    margin-right: 10px;
  }
  header .menu-list-wrap{
    position: relative;
    top: 46px;
  }
  header .slide-img-wrap img{
    max-width: 100%;
    height: auto;
  }
  header .slider .subtitle,
  header .slider .title{
    padding-left: 10px;
  }
  header .slide-img-wrap{
    margin-top: 10vw;
  }
  .contacts-page{
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper-contacts-form .text{
    text-align: center;
  }
  .contacts-page form#discus button,
  .contacts-page .dialog-form button{
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-page ul.social{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
}
/*1199*/

@media only screen and (max-width : 991px) {
  .tab-nav>span{
    top: 50%;
  }
  header .slide-img-wrap img{
    max-width: 70%;
    width: 100%;
    margin-right: 0;
    position: relative;
    right: 0;
    left: 30vw;
    z-index: 0;
  }
  header ul.dots-wrap{
    bottom: 8px;
  }
  header .slide-img-wrap{
    width: 100vw;
    max-width: 100%;
    text-align: right;
    /*top: 15vw;*/
    bottom: -40px;
    position: relative;
  }
  header .slider .main-text-wrap{
    z-index: 2;
  }
  header .menu-list-wrap{
    top: 20px;
  }
  header .slider .subtitle{
    font-size: 21px;
  }
  header{
    max-height: 100vh;
    overflow: hidden;
  }

  header .slider .title{
    margin-top: 30px;
    font-size: 35px;
  }
  header .menu-list-wrap ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu{
    padding-top: 10px;
    position: relative;
  }
  header .logo-wrap{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  header .section-wrap{
    flex-direction: column-reverse;
  }
  header .lang-wrap,
  header .reg-logo-wrap{
    align-self: flex-end;
  }
  .multipletab .tab-content{
    height: 380px  !important;
  }
  .multipletab .tab-content>div{
    height: 320px  !important;
  }
  header .theme-tag{
    top: 5vw;
    font-size: 15px;
  }
}
/*991*/
@media only screen and (max-width : 767px) {
  .tab-nav>span{
    top: 44%;
  }
  .multipletab .tab-content{
    height: 300px  !important;
  }
  .multipletab .tab-content>div{
    height: 240px  !important;
  }
  header .slider .title{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 88%;
  }
  header .slide-img-wrap img{
  }

  header .slider .subtitle{
    font-size: 18px;
  }
  section,
  .contacts-page{
    padding-left: 10px;
    padding-right: 10px;
  }
  .contacts-page p{
    font-size: 15px !important;
  }

  .contacts-page th div{
    font-size: 18px !important;
  }

  .block-title{
    font-size: 27px;
    padding-top: 20px;
    margin-bottom: 20px !important;
  }
  .block-subtitle{
    font-size: 17px;
  }
  /*.s1 .tab-title{
    font-size: 20px;
  }
  .s1 .tab-title .text{
    margin-bottom: 5px;
    padding-left: 5px;
  }
  .s1 .tab-subtitle{
    padding-left: 0px;
  }*/
  .s1 .tab-line{
    width: 25px;
    min-width: 25px;
  }
  .s1, .s2{
    padding-bottom: 20px;
  }
  .s2 .section-wrap{
    flex-direction: column;
  }
  .s2 .phone-wrap{
    margin-left: auto;
    margin-right: auto;
  }
  .s2 .phone-wrap img{
    width: 40vw;
    min-width: 200px;
  }
  .s2 .content-wrap{
    padding-top: 10px;
  }
  .s2 .stores-wrap{
    margin-bottom: 20px;
    text-align: center;
  }
  .s2 .stores-wrap img{
    width: 22%;
    min-width: 120px;
    height: auto;
  }
  .s2 li .text{
    margin-left: 10px;
    top: 0;
  }
  .s2 li {
    align-items: center;
    margin-bottom: 15px !important;
  }
  .s2.s4 .section-wrap{
    flex-direction: column-reverse;
  }
  .s1 .block-subtitle,
  .s5 .block-subtitle,
  .s4 .block-subtitle,
  .s5 .card-body,
  .s5 .info-wrap,
  .s3 .block-subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .s4 .adv-wrap{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }
  .s4 .get-consulation{
    width: 295px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .s2.s4{
    padding-bottom: 0;
  }
  .s2.s4 .phone-wrap{
    margin-left: auto;
    margin-right: auto;
  }
  .s2.s4 .phone-wrap img{
    width: 20vw;
    min-width: 190px;
  }
  .s5 .card{
    margin-bottom: 10px;
    width: 50vw;
    min-width: 310px;

  }
  .s5 .card-body{
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .row{
    padding: 20px;
  }
  footer .row a{
    margin-right: 10px;
  }
  footer .row.middle-col{
    justify-content: center;
  }
  .s3 .tab-buttons>span{
    margin-right: 15px;
    font-size: 16px;
  }
  .s3 .tab-buttons{
    margin-bottom: 20px;
  }
  .s3 .card-title{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .s3 .card-content{
    font-size: 18px;
    padding-bottom: 40px;
  }
  .multipletab .tab-buttons>span{
    padding-bottom: 9px;
  }
  .multipletab .tab-buttons>span.active{
    padding-bottom: 4px;
  }
  .s1 .tab-subtitle .flex{
    margin-left: 50px;
  }
  header .theme-tag{
    padding: 10px;
    font-size: 14px;
  }
}

/*767*/
@media only screen and (max-width : 560px) {
  .s1 .tab-subtitle .flex{
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: -10px;
  }
  .s1 .tabs nav a{
    margin-bottom: 5px;
  }
  .s1 .tab-title .text{
    padding-left: 7px;
    margin-bottom: 0;
  }
  .s1 .tab-line{
    top: 5px;
  }
  .multipletab{
    padding-bottom: 0;
  }
  section{
    padding-left: 10px;
    padding-right: 10px;
  }
  .s1 .tab-title{
    font-size: 14.5px;
  }
  .s1 .tab-title .text{
    line-height: 15px;
    letter-spacing: 0.6px;
  }
  .s1 .tab-subtitle,
  .s1 .tabs .content p{
    line-height: 1.1;
    font-size: 14px;
  }

  .s1 .tab-line{
    min-width: 12px;
  }
  .s3 .card-type{
    /*margin-bottom: 15px;*/
  }
  .s3 .card-title{
    font-size: 18px;
  }
  .s3 .card-content{
    font-size: 16px;
  }
  .s3 .tab-buttons>span{
    font-size: 15px;
    letter-spacing: 0;
    margin-right: 10px;
  }
  .tab-nav>span.next{
    right: 2px;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .tab-nav>span.next:hover,
  .tab-nav>span.prev:hover{
    background-size: contain;
  }
  .tab-nav>span.prev{
    left: 2px;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .s3 .tab-content>div{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  header .slider .title{
    font-size: 23px;
    letter-spacing: 1px;
    max-width: 100vw;
    margin-bottom: 45px;
  }

  header .theme-tag{
    top: 95px;
  }

  header .slider .subtitle{
    letter-spacing: 1px;
    max-width: 80vw;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .slider .slide4 .title{
    margin-bottom: 30px;
  }
  header .slider .slide4  .theme-tag{
    top: 65px;
  }
  header .menu-list-wrap a{
    font-size: 16px;
  }
  header .reg-logo-wrap .text{
    left: 5px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  header .logo-wrap img{
    width: 130px;
    height: auto;
  }
  .block-title{
    font-size: 24px;
  }
  .block-subtitle{
    font-size: 16px !important;
  }
  .s5 .info-wrap{
    font-size: 16px;
  }
  header .slide-img-wrap{
    margin-top: 22vw;
  }
  header ul.dots-wrap::before{
    width: 30px;
  }
  header ul.dots-wrap{
    bottom: 16vw;
    padding-left: 40px !important;
  }
  header ul.dots-wrap li{
    margin-right: 5px;
  }
  header ul.dots-wrap li.slick-active button{
    height: 25px;
    width: 25px;
    background-size: contain;
    margin-right: -5px;
  }
  .s1 .tabs .content{
    padding-left: 10px;
    text-align: justify;
  }
  .contacts-page .block-title{
    font-size: 27px;
  }
  .multipletab .tab-buttons>span{
    padding-bottom: 3px;
  }
  .multipletab .tab-buttons>span.active{
    border-bottom: 2px solid #4aaf00;
    padding-bottom: 1px;
  }
  .tab-nav>span{
    top: 54%;
  }
  header .theme-tag{
    padding: 7px 10px;
    /*font-size: 14px;*/
  }
}
/*560*/
@media only screen and (max-width : 480px) {
  .hidden-480{
    display: none !important;
  }
  .visible-480{
    display: block !important;
    visibility:  visible !important;

  }
  header .slide-img-wrap{
    margin-top: 38vw;
  }
  header .slider .title{
    font-size: 21px;
  }
  header .slider .subtitle{
    font-size: 15px;
  }
  .modal{
    width: 310px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 20px;
  }
  .modal .modal-title{
    padding-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .modal input[type="text"], .modal textarea{
    height: 40px;
    margin-bottom: 7px;
    font-size: 15px;
    padding-left: 10px;
  }
  .modal .reg-modal .top-block-wrap{
    margin-bottom: 15px;
  }
  .modal .radio:not(checked) + label{
    padding-left: 30px;
  }
  .modal .radio-wrapper{
    font-size: 15px;
  }
  .modal .reg-modal .captcha-wrap{
    flex-direction: column;
  }
  .modal .reg-modal .captcha{
    align-self: center;
  }
  .modal .reg-modal .captcha-wrap textarea{
    width: 100%;
    margin-top: 10px;
  }
  .modal .orange-btn{
    font-size: 16px;
  }
  .modal .reg-modal .reg-btn{
    margin-bottom: 15px;
  }
  .modal .reg-modal .reg-btn .arrow-right{
    left: 15px;
  }
  .modal .login-modal .eye-icon{
    bottom: 10px;
    right: 9px;
  }
  .modal .login-modal .actions-wrap{
    flex-direction: column;
  }
  .modal .login-modal .actions-wrap .green{
    font-size: 15px;
    align-self: flex-start;
    margin-bottom: 15px;
  }
  .modal .restore-sucs-modal .text {
    font-size: 15px;
    padding-left: 10px;
  }
  /*.modal .radio:not(checked) + label:after {
    top: 3px;
  }*/
  .modal .radio:checked + label:after {
    top: 3px;
  }
  .modal .restore-sendpass-modal .send-btn{
    margin-bottom: 10px;
  }

}
/*480*/
@media only screen and (max-width : 360px) {
  header .slider .slide4 .subtitle,
  header .slider .slide3 .subtitle{
    font-size: 14px;
  }
  header .slider .title{
    margin-bottom: 30px;
  }
  header .theme-tag{
    font-size: 13px;
  }
}
/*360*/
