<div class="modal">
  <md-input-container style="width: 100%;">
    <textarea mdInput placeholder="Адрес акции" [ngModel]="sharedItemLink"></textarea>
  </md-input-container>
  <button md-raised-button type="button" color="accent"  ngxClipboard [cbContent]="sharedItemLink" (cbOnSuccess)="copyToClipboard()" name="copy">Скопировать</button>
</div>