<div class="contacts-page">
  <div class="container">
    <div class="row">
      <div class="block-title">
        Контакты
      </div>
      <p class='contacts-title'>Работаем с компаниями по всему миру, а территориально мы находимся на северо-западе города Челябинска.</p>
      <div class="col-lg-5 col-md-12" itemscope itemtype="http://schema.org/Organization">
        <table class="contactspage" id='contacts-table'>
          <th colspan="2">
            <div itemprop="name" style="font-size:25px;">Студия Креограф</div>
          </th>
          <tr>
            <td>ТЕЛЕФОН:</td>
            <td><span itemprop="telephone">8 800 333 64 06</span></td>
          </tr>
          <tr>
            <td>EMAIL:</td>
            <td><a href="mailto:office@creograf.ru"><span itemprop="email">office@creograf.ru</span></a></td>
          </tr>
          <tr>
            <td>SKYPE:</td>
            <td><a href="skype:creograf?chat">creograf</a></td>
          </tr>
          <tr>
            <td>
              <div id='contacts-dep' itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">ОТДЕЛ&nbsp;</div>РАЗРАБОТКИ<br><span itemprop="addressLocality">в Челябинске</span></td>
            <td><span itemprop="streetAddress">ул.Молодогвардейцев, 7к3
              Офис 249</span></td>
          </tr>
        </table>
        <div class="wrapper-contacts-form">
          <a href="http://creograf.ru/images/schema.png" class="schema imgpopup">схема проезда</a>
          <div class="text">Напишите нам</div>
          <form action="/sendcontact.php" method="post" class="mail">
            <input type="hidden" name="action" value="проект">
            <div class="dialog-form">
              <input type="text" required="" placeholder="Ф.И.О." name="fio">

              <input type="text" required="" required placeholder="телефон" data-inputmask-mask="+7(999)999-9999" data-val="true" data-val-required="Required"
                placeholder="телефон" name="phone">

              <input type="email" required="" placeholder="электронная@почта" name="email">
              <textarea placeholder="Текст сообщения" name="todo"></textarea>
              <!-- <button type="submit">Отправить</button> -->
              <button type="submit" class="form-send-button  button--ujarak button--border-thin button--text-thick">Отправить</button>
            </div>
          </form>
        </div>
      </div>
      <div class="clearfix visible-sm visible-xs"></div>
      <div class="col-lg-7 col-md-12 col-md-map">
        <div class="map" id='contacts-map'>
          <a id="firmsonmap_biglink" href="http://maps.2gis.ru/#/?history=project/chelyabinsk/center/61.32803987622,55.203630986228/zoom/16/state/widget/id/2111590606454268/firms/2111590606454268">Перейти к большой карте</a>
          <script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
          <script charset="utf-8" type="text/javascript">
            new DGWidgetLoader({ "borderColor": "#a3a3a3", "width": "900", "height": "535", "wid": "50494e866af5ef2e45ca18c5e87d2475", "pos": { "lon": "61.32803987622", "lat": "55.203630986228", "zoom": "16" }, "opt": { "ref": "hidden", "card": ["name", "contacts", "schedule", "payings", "flamp"], "city": "chelyabinsk" }, "org": [{ "id": "2111590606454268", "hash": "873dqa34299IJ1HJAf5Buvgc93610J35c53d14176757A24Afe9269G51J0I1142GHsu84" }] });
          </script>
          <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        </div>
      </div>
    </div>
    <div class="row social" id='contacts-form'>
      <h3>Подпишитесь на нас</h3>
      <ul class="social">
        <li>
          <a alt="VK.com" href="http://vk.com/creograf" target="_blank" class="vk tip"></a>
        </li>
        <li>
          <a alt="Instagram" href="http://instagram.com/creograf" target="_blank" class="inst tip"></a>
        </li>
        <li>
          <a alt="Twitter" href="http://twitter.com/creograf" target="_blank" class="tw tip"></a>
        </li>
        <li>
          <a alt="Facebook" href="https://www.facebook.com/creograf" target="_blank" class="fb tip"></a>
        </li>
      </ul>
    </div>
  </div>
</div>