<div class="page-title">
  Начисления
</div>
<div class="layer"></div>
<md-card>
  <div class="flex">
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerFrom" placeholder="с" [(ngModel)]="query.createdDate.$gte" (ngModelChange)="getAccrualsList()">
        <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
      </md-input-container>
      <md-datepicker #pickerFrom></md-datepicker>
    </div>
    <div class="layer"></div>
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerTo" placeholder="по" [(ngModel)]="query.createdDate.$lte" (ngModelChange)="getAccrualsList()">
        <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
      </md-input-container>
      <md-datepicker #pickerTo></md-datepicker>
    </div>
    <div class="layer"></div>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Поиск"  name="searchNum" [(ngModel)]="query.$or" (ngModelChange)="getAccrualsList()">
    </md-input-container>
  </div>
  <table>
    <thead>
      <tr>
        <td>№</td>
        <td></td>
        <td>Пользователь</td>
        <td></td>
        <td>Магазин</td>
        <td>Описание</td>
        <td>Дата начисления</td>
        <td>Сумма</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accrual of accruals">
        <td>{{accrual.number}}</td>
        <td><img [src]="accrual.userId.photo.small.url"></td>
        <td>{{accrual.userId.login}}</td>
        <td><img [src]="accrual.siteId.photo.small.url"></td>
        <td>{{accrual.siteId.name}}</td>
        <td>{{accrual.description}}</td>
        <td>{{accrual?.createdDate | date: 'dd.MM.yyyy'}}</td>
        <td>{{accrual.value}}</td>
      </tr>
    </tbody>
  </table>
</md-card>
