<div class="page-content promo">
  <div class="main-container">
    <h1>Акции</h1>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <td *ngFor="let column of columns">
              {{column.name}}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promo of promos">
            <td>{{promo.name}}</td>
            <td><img [src]="promo?.photo?.small?.url" alt=""></td>
            <td>{{promo.dateStart | date: 'dd.MM.yyyy'}}</td>
            <td>{{promo.dateEnd | date: 'dd.MM.yyyy'}}</td>
            <td>{{promo.url}}</td>
            <td>
              <a (click)="openEditPromoModal(promo)" class="active-link">редактировать</a>
              <a (click)="deletePromo(promo)" class="active-link">удалить</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button md-raised-button name="addTarget" type="button" (click)="openAddPromoModal()" color="accent">Добавить</button>
  </div>
</div>