<div class="backoffice">
  <md-sidenav-container>

    <md-sidenav #sidenav>
      <div class="user-info">
        <h1>{{user?.actualName}}</h1>
        <span>Баланс: {{user?.balance}}₽</span>
      </div>
      <md-nav-list>
        <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/lk" (click)="sidenav.close()">
          <a>Аккаунт</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/balance" (click)="sidenav.close()">
          <a>Баланс</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/site" (click)="sidenav.close()">
          <a>Сайт</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/promo" (click)="sidenav.close()">
          <a>Акции</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/referers" (click)="sidenav.close()">
          <a>Реферальная сеть</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/orders" (click)="sidenav.close()">
          <a>Заказы</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/requests" (click)="sidenav.close()">
          <a>Заявки на вывод</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/accruals" (click)="sidenav.close()">
          <a>Начисления</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/history" (click)="sidenav.close()">
          <a>История платежей</a>
        </md-list-item>
        <md-list-item routerLinkActive="active" routerLink="/lk/orders" (click)="sidenav.close()">
          <a>Бухгалтерия</a>
        </md-list-item>
        <md-list-item class="logout" (click)="logout()">
          <a>Выйти</a>
        </md-list-item>
      </md-nav-list>
      <div class="language">Язык: Русский / <a class="active-link">Английский</a></div>
    </md-sidenav>
    <header>
      <div class="main-container">
        <div class="left-block">
          <button md-button (click)="sidenav.open()" class="btn-min open-sidebar">
            <md-icon class="exit-icon">menu</md-icon>
          </button>
          <img routerLink="/" class="logo" src="images/logo.png" />
        </div>
        <div class="right-block">
          <div class="actions">
            <div class="icons-wrapper">
              <div class="icon">
                <md-icon [style.color]="'white'">card_giftcard</md-icon>
                <span *ngIf="notify.gifts > 0">{{notify?.gifts}}</span>
              </div>
              <div class="icon" routerLink="/lk/orders">
                <md-icon [style.color]="'white'">shopping_cart</md-icon>
                <span *ngIf="notify.orders > 0">{{notify?.orders}}</span>
              </div>
              <div class="icon" routerLink="/lk/requests">
                <md-icon [style.color]="'white'">monetization_on</md-icon>
                <span *ngIf="notify.requests > 0">{{notify?.requests}}</span>
              </div>
              <div class="icon" routerLink="/lk/referers">
                <md-icon [style.color]="'white'">person</md-icon>
                <span *ngIf="notify.referals > 0">{{notify?.referals}}</span>
              </div>
            </div>

          </div>
          <div class="user" [mdMenuTriggerFor]="menu">
            <a routerLink="/lk">{{user?.actualName}}<span>({{user?.balance}}₽</span>)</a>
            <md-icon color="white" class="expand-menu">arrow_drop_down</md-icon>
            <md-menu #menu="mdMenu">
              <button md-menu-item (click)="logout()">Выйти</button>
            </md-menu>
          </div>
        </div>
      </div>
    </header>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>