/*backoffice*/
.mat-checkbox{
    font-family: inherit !important;
}
.flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.flex-between{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}

.align-center{
  align-items: center;
}

.full-height {
  height: 100% !important;
}
@media screen and (max-width: 768px){
  .page-content
  .main-container
  .site-columns
  .column-1,.column-2{
    width: 100%;
  }
}
.page-content
.main-container
.site-columns
.column-1{
  width: 60%;
}
.page-content
.main-container
.site-columns
.column-1 md-input-container{
  width: 100%;
}


.page-content
.main-container
.site-columns
.column-2{
  width: 40%;
  padding-left: 30px;
  text-align: center;
}
.page-content
.main-container
.site-columns
.column-2 img{
  max-width: 100%;
}

.profile-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile-columns md-input-container{
  width: 100%;
}
.profile-columns
.column-1,
.profile-columns
.column-2{
  width: 46%;
}

@media screen and (max-width: 992px){
  .profile-columns
  .column-1,
  .profile-columns
  .column-2{
    width: 100%;
  }  
}