<form #addNewUserForm="ngForm">
  <div class="modalContent">
    <div class="form-title">
      Добавление модератора
    </div>
    <md-input-container >
      <input mdInput type="text" placeholder="Логин"  name="login">
    </md-input-container>
    <md-input-container >
      <input mdInput type="password" placeholder="Пароль"  name="password">
    </md-input-container>
    <md-input-container >
      <input mdInput type="text" placeholder="Имя"  name="name">
    </md-input-container>
    <md-input-container >
      <input mdInput type="email" placeholder="Емайл"  name="email">
    </md-input-container>
    <md-select placeholder="Группа" name="group">
      <md-option [value]="1">
        1
      </md-option>
    </md-select>

    <div class="layer"></div>
    <div class="layer"></div>
    <div class="flex-center">
      <button type="submit" class="btn btn-green" name="save">
        <md-icon md-list-icon >save</md-icon>
        <div>Добавить</div>
      </button>
      <button type="button" class="btn btn-grey"  name="cancel" (click)="close()">
        <md-icon md-list-icon >cancel</md-icon>
        <div>Отмена</div>
      </button>
    </div>
  </div>
</form>
