<div class="page-content site">
  <div class="main-container">
    <h1>Сайт</h1>
    <form>
      <div class="flex flex-wrap site-columns">
        <div class="column-1">
          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="Название" [ngModel]="site?.name" (ngModelChange)="site.name=$event" name="name">
          </md-input-container>
          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="Nick магазина" [ngModel]="site?.nick" (ngModelChange)="site.nick=$event" name="nick">
          </md-input-container>

          <md-input-container dividerColor="accent">
            <input mdInput required placeholder="URL" [ngModel]="site?.url" (ngModelChange)="site.url=$event" name="url">
          </md-input-container>

          <md-input-container dividerColor="accent">
            <textarea mdInput required placeholder="Описание магазина" [ngModel]="site?.description" (ngModelChange)="site.description=$event"
              name="description"></textarea>
          </md-input-container>

          <md-radio-group [(ngModel)]="siteType" name="siteType">
            <md-radio-button value="shop">интернет-магазин</md-radio-button>
            <md-radio-button value="landing">сайт или лендинг</md-radio-button>
          </md-radio-group><br><br>
          <md-checkbox [checked]="isBonusProgramm" (change)="isBonusProgramm = !isBonusProgramm" name="isBonusProgramm" mdTooltip="реферал может перевести свои начисления в бонусы и потратить их в компании">
            бонусная программа включена
          </md-checkbox><br><br>
        </div>

        <div class="column-2">
          <img [src]="site?.photo?.medium?.url" alt="{{site?.name}}"><br>
          <input type="file" (change)="fileChange($event)" mdTooltip="Изменить или загрузить фотографию" accept=".jpg,.png,.jpeg" class="hidden-input" #upload>
          <div><a class="active-link" (click)="upload.click()">загрузить фотографию</a></div>
        </div>
      </div>
      <h1>Цели</h1>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <td>Название цели</td>
              <td>Стоимость</td>
              <td>Признак</td>
              <td>Управление</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let target of site?.targets">
              <td>{{target.name}}</td>
              <td>{{target.payments.execute}}</td>
              <td>sarafan="{{target.id}}"</td>
              <td>
                <a (click)="openEditTargetModal(target)" class="active-link">редактировать</a>
                <a (click)="deleteTarget(target)" class="active-link">удалить</a>
              </td>
            </tr>
          </tbody>
        </table>
        <button md-raised-button name="addTarget" type="button" color="accent" (click)="openAddTargetModal()">Добавить цель</button>

      </div>

      <div class="payments-types">
        <span class="link">Варианты оплаты за достижение цели:</span><br>
        <md-checkbox [checked]="paymentType.nonCash " (change)="paymentType.nonCash=! paymentType.nonCash " name="nonCash ">
          безналичный расчетный счет
        </md-checkbox><br>
        <md-checkbox [checked]="paymentType.isOrder " (change)="paymentType.isOrder=! paymentType.isOrder " name="isOrder ">
          оплата или частичная оплата заказа на сайте
        </md-checkbox><br>
        <md-checkbox [checked]="paymentType.isBonus " (change)="paymentType.isBonus=! paymentType.isBonus " name="isBonus ">
          начисление бонусов
        </md-checkbox><br>
        <md-checkbox [checked]="paymentType.other " (change)="paymentType.other=! paymentType.other " name="other ">
          другое
        </md-checkbox>
        <md-input-container class="full-height" dividerColor="accent" *ngIf="paymentType.other">
          <textarea mdInput required [(ngModel)]="paymentType.otherDescription" name="otherDescription"></textarea>
        </md-input-container>
      </div>

      <br><br>
      <button md-raised-button type="button" (click)="saveSiteInfo()" color="accent" name="save">Сохранить</button>
    </form>
  </div>
</div>