<div class="modal">
  <div class="reg-modal">
    <div class="modal-title">
      Новая цель
    </div>
    <form #registerForm="ngForm" (ngSubmit)="addNewTarget()">
      <div class="modalContent">
        <md-input-container dividerColor="accent">
          <input mdInput required placeholder="Название цели" [(ngModel)]="newTarget.name" name="name">
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required placeholder="Описание" [(ngModel)]="newTarget.description" name="description">
        </md-input-container>
        <!--<md-input-container dividerColor="accent">
          <input mdInput required placeholder="Название события" [(ngModel)]="newTarget.name" name="name">
        </md-input-container>-->

        <div class="bo-block-title ">
          Стоимость
        </div>

        <md-input-container dividerColor="accent">
          <input mdInput required type="number" placeholder="Достижение цели, рублей" [(ngModel)]="newTarget.payments.execute" name="execute">
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required type="number" placeholder="Привлечение нового реферала, рублей" [(ngModel)]="newTarget.payments.newReferal"
            name="newReferal">
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required type="number" placeholder="Бонус за заказ реферала 1-го уровня, рублей" [(ngModel)]="newTarget.payments.referalBonusesLevel1"
            name="bonus1">
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required type="number" placeholder="Бонус за заказ реферала 2-го уровня, рублей" [(ngModel)]="newTarget.payments.referalBonusesLevel2"
            name="bonus2">
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required type="number" placeholder="Бонус за заказ реферала 3-го уровня, рублей" [(ngModel)]="newTarget.payments.referalBonusesLevel3"
            name="bonus3">
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required type="number" placeholder="Бонус за заказ реферала 4-го уровня, рублей" [(ngModel)]="newTarget.payments.referalBonusesLevel4"
            name="bonus4">
        </md-input-container>


      </div>
      <button md-raised-button type="submit " name="save" color="accent">Добавить</button>
    </form>
  </div>
</div>