<div class="page-content balance">
  <div class="main-container">
    <h1>Баланс</h1>
    <span>Баланс: </span><span class="bold">1000₽</span><br>
    <span>Тариф: <span class="bold">сетевой маркетинг, средств хватит еще на 15 дней.</span></span>
  </div>
</div>