
<div class="page-content payments-history">
  <div class="main-container">
    <h1>История платежей</h1>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <td *ngFor="let column of columns">
              {{column.name}}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments">
            <td>
              {{payment?.number}}
            </td>
            <td>
              {{payment.date | date: 'dd.MM.yyyy HH:MM'}}
            </td>
            <td>
              {{payment?.value}}
            </td>
            <td>
              {{payment?.userId?.login}}
            </td>
            <td>
              {{payment?.description}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>