<div class="page-content accurals-history">
  <div class="main-container">
    <h1>История начислений</h1>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <td *ngFor="let column of columns">
              {{column.name}}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accrual of accruals">
            <td>
              {{accrual?.number}}
            </td>
            <td>
              {{accrual.date | date: 'dd.MM.yyyy HH:MM'}}
            </td>
            <td>
              {{accrual?.value}}
            </td>
            <td>
              {{accrual?.userId?.login}}
            </td>
            <td>
              {{accrual?.description}}
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
</div>