<div class="page-content bo-companies">
  <div class="main-container">
    <h1>Компании</h1>
    <!--TODO: фильтрация компаний-->
  </div>
  <div class="compaines-list">
    <div class="main-container company" *ngFor="let company of companies">
      <div class="left-block"><img src="{{company?.photo?.medium?.url}}" alt=""></div>
      <div class="center--block">
        <h1>{{company?.name}}</h1>
        <a href="{{company?.url}}" class="active-link">{{company?.url}}</a><br>
        <span>{{company?.description}}</span>
      </div>
      <div class="right-block">
        <button *ngIf="!isSubscribe(company)" color="accent" md-raised-button (click)="subscribe(company)">Подключить</button>
        <button *ngIf="isSubscribe(company)" color="accent" md-raised-button (click)="unsubscribe(company)">Отключить</button>
      </div>
    </div>
  </div>