<header>
  <section class="menu">
    <a class="logo-wrap visible-sm visible-xs">
      <img src="images/logo.png" alt="">
    </a>
    <div class="container">

      <div class="flex-between align-center section-wrap">
        <a class="logo-wrap hidden-sm hidden-xs">
          <img src="images/logo.png" alt="">
        </a>
        <div class="menu-list-wrap">
          <ul>
            <li>
              <a href="#s1" sarafan="1TJoQWH">Бизнесам</a>
            </li>
            <li>
              <a href="#s2">Клиентам</a>
            </li>
            <li>
              <a href="#s3">Кейсы</a>
            </li>
            <li>
              <a href="#s5">Тарифы</a>
            </li>
            <!--<li>
              <a routerLink="/contacts">Контакты</a>
            </li>-->
          </ul>
        </div>
        <a class="reg-logo-wrap flex align-center">
          <span>
                <img class="icon" src="images/user-icon.png">
              </span>
          <span *ngIf="!user" class="text" sarafan='login' (click)="openLoginModal()">Войти</span>
          <div *ngIf="user">
            <span *ngIf="!user.isBuisnessOwner" class="text" routerLink="/backoffice">Личный кабинет</span>
            <span *ngIf="user.isBuisnessOwner" class="text" routerLink="/lk">Личный кабинет</span>
          </div>
        </a>
        <a class="lang-wrap flex align-center">
          <span>Ru</span>
        </a>
      </div>

    </div>
  </section>
  <div class="slider">
    <div class="slide">
      <div class="container">
        <div class="theme-tag">
          Бизнесу
        </div>
        <div class="flex-between">
          <div class="main-text-wrap">
            <span>
                  <div class="title">
                    Создай собственную
                    <br>
                    реферальную сеть
                    <br>
                    за 10 минут
                  </div>
                  <div class="subtitle">
                    Sarafan - это гибкий сервис
                    <br>
                    для управления реферальной сетью
                  </div>
                </span>
          </div>
          <div class="slide-img-wrap">
            <img src="images/header-slide-first.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="theme-tag">
          Покупателям
        </div>
        <div class="flex-between">
          <div class="main-text-wrap">
            <span>
                  <div class="title">
                    Узнавай об акциях
                    <br>
                    в любимых магазинах
                     и компаниях
                  </div>
                  <div class="subtitle">
                    Зарабатывай на рекомендациях качественных
                     товаров и услуг
                  </div>
                </span>
          </div>
          <div class="slide-img-wrap">
            <img src="images/header-slide-second.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="slide slide3">
      <div class="container">
        <div class="theme-tag">
          Бизнесу
        </div>
        <div class="flex-between">
          <div class="main-text-wrap">
            <span>
                  <div class="title">
                    Готовое решение для старта
                    <br class="hidden-xs">
                     сетевого бизнеса
                  </div>
                  <div class="subtitle">
                    Подключай Sarafan к сайту, и он будет вести учет бонусов,
                    аналитику реферального дерева, начисление процентов автоматически
                  </div>
                </span>
          </div>
          <div class="slide-img-wrap">
            <img src="images/header-slide-third.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="slide slide4">
      <div class="container">
        <div class="theme-tag">
          Сетевикам
        </div>
        <div class="flex-between">
          <div class="main-text-wrap">
            <span>
                  <div class="title">
                    Вы сетевик?
                  </div>
                  <div class="subtitle">
                    <br>
                    Sarafan.online - это удобный инструмент для выбора
                    качественных пролуктов и горячих акций из многих предложений,
                    и распространения их одном кликом
                  </div>
                </span>
          </div>
          <div class="slide-img-wrap">
            <img src="images/header-slide-fouth.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="s1 for-business" id="s1">
  <div class="container">
    <div class="block-title">
      Сарафан для бизнеса
    </div>
    <div class="block-subtitle">
      Простой и быстрый способ продвижения
      <br> качественных товаров и услуг
    </div>

    <div class="tabs">
      <nav class="flex flex-wrap">
        <a>
          <div class="tab-title flex">
            <span class="tab-line"></span>
            <span class="text">
                  Поощряйте клиентов за привлечение новых клиентов
                </span>
          </div>
          <span class="tab-subtitle">
            <span class="flex">
              Это могут быть деньги, начисление бонусов, предоставление товаров или услуг.
            </span>
          <p>
            Вы платите не за показы, клики, переходы и т.д, а за оформленный заказ в интернет-магазине или за заполненную контактну форму
            на лэндинге или за регистрацию нового клиента в сервисе или за первую совершенную оплату-в зависимости от настроек
            профиля и сайта. И платите не обязательно деньгами, а, возможно, своими товарами или услугами, бонусами и так
            далее.
          </p>
          </span>

        </a>
        <a>
          <div class="tab-title flex">
            <span class="tab-line"></span>
            <span class="text">
                  Поощряйте тех, кто привлекает новых клиентов, платя им процент с оборота сети
                </span>
          </div>
          <span class="tab-subtitle">
            <span class="flex">
              Таким образом, выстраивается целая сеть лояльных покупателей,
              занятых расширением Вашего бизнеса.
            </span>
          <p>
            Подключите Sarafan к сайту, и вы будете точно знать, сколько заказов и на какую сумму привлек каждый реферал.
          </p>
          <p>
            Автоматизированные бизнес-процессы для работы с рефералами. Вы задаете условия работы с рефералами и публикуете акции, которые
            они должны делиться. Все остальное делает сервис: сообщает рефералам об акциях, предоставляем им удобный функционал
            для распространения информаци в социальных сетях, учитывает кол-во переходов, заказов и их сумму, предоставляет
            эту статистику и вам и рефералу.
          </p>
          </span>

        </a>
        <a>
          <div class="tab-title flex">
            <span class="tab-line"></span>
            <span class="text">
                  Вы сами расчитываетесь со своими рефералами
                </span>
          </div>
          <span class="tab-subtitle">
            <span class="flex">
              Сервис ведет статистику и по Вашим настройкам расчитывает
              балансы, отображает историю взаиморсчетов с рефералами.
              Деньги Вы переводите напрямую рефералу удобным для Вас обоих
              способом.
            </span>

          <p>
            Фиксированный платеж. Мы не берем процентов с Ваших оборотов. Плата за использование нашего сервиса фиксирована и не растет
            с ростом вашей реферальной сети.
          </p>
          <p>
            Данные об оплатах импортируется из выписки банка.
          </p>
          </span>
        </a>
      </nav>
    </div>
  </div>
</section>
<section class="s2 for-clients" id="s2">
  <div class="block-title">
    Сарафан для клиентов
  </div>
  <div class="container">
    <div class="flex-center section-wrap">
      <div class="phone-wrap">
        <img src="images/s2-phone.png" alt="">
      </div>
      <div class="content-wrap">
        <div class="stores-wrap">
          <a href="">
            <img src="images/appstore-icon.png" alt="">
          </a>
          <a href="">
            <img src="images/googleplay-icon.png" alt="">
          </a>
        </div>
        <ul>
          <li class="flex">
            <span class="icon">
                  <img src="images/s2-push-icon.png" alt="">
                </span>
            <span class="text">
                  Моментальные push-уведомления от акциях
                </span>
          </li>
          <li class="flex">
            <span class="icon">
                  <img src="images/s2-social-icon.png" alt="">
                </span>
            <span class="text">
                  Просто делитесь акциями в соц. сетях ссылка уже
                  <br class="hidden-xs">
                  содержит ваш реферальный код
                </span>
          </li>
          <li class="flex">
            <span class="icon">
                  <img src="images/s2-stat-icon.png" alt="">
                </span>
            <span class="text">
                  Контролируйте статистику продаж, следите за
                  <br class="hidden-xs">
                  своими бонусами
                </span>
          </li>
          <li class="flex">
            <span class="icon">
                  <img src="images/s2-mail-icon.png" alt="">
                </span>
            <span class="text">
                  Отправляйте заявку магазину на вывод средств,
                  <br class="hidden-xs">
                  начисление бонусов или оплату заказа в
                  <br class="hidden-xs">
                  интернет-магазине
                </span>
          </li>
          <li class="flex">
            <span class="icon">
                  <img src="images/s2-tag-icon.png" alt="">
                </span>
            <span class="text">
                  Несколько магазинов в одном приложении
                </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="s3 cases" id="s3">
  <div class="container">
    <div class="block-title">
      Кейсы
    </div>
    <div class="block-subtitle">
      Примеры использования сервиса для разных видов бизнеса
    </div>
    <div class='multipletab'>

      <div class='tab-buttons'>
        <span id='content1'>Интернет-магазин</span>
        <span id='content2'>Оптовая торговля</span>
        <span id='content3'>Мебель на заказ</span>
        <span id='content4'>Услуги хостинга</span>
        <span id='content5'>Доставка пиццы</span>
        <span id='content6'>Сетевой бизнес</span>
        <span id='content7'>Продажа сложного оборудования</span>
        <span id='content8'>Online-сервисы и игры</span>
      </div>
      <div class='tab-content'>

        <div id='content1'>
          <div class="card-type">
            Интернет-магазин
          </div>
          <div class="card-title">
            Платите 100р. за каждый отправленный
            <br class="hidden-xs"> с сайта заказ бонусами на след. покупку
          </div>
          <!-- <div class="card-content">
            Подарим доставку любой пиццы на выбор клиента, если 5 человек по вашей ссылке
            <br> закажут у нас пиццу
          </div> -->

        </div>
        <div id='content2'>
          <div class="card-type">
            Оптовая торговля
          </div>
          <div class="card-title">
            Платите небольшой процент с оборота привлеченных клиентов и найдете много желающих построить пассивный доход на вашем бизнесе
          </div>
        </div>
        <div id='content3'>
          <div class="card-type">
            Мебель на заказ
          </div>
          <div class="card-title">
            Платите дизайнерам интерьеров за рекомендации с каждого оплаченного заказа
          </div>
        </div>
        <div id='content4'>
          <div class="card-type">
            Услуги хостинга
          </div>
          <div class="card-title">
            Платите бонусами разработчикам сайтов, приводящих вам новых клиентов
          </div>
        </div>
        <div id='content5'>
          <div class="card-type">
            Доставка пиццы
          </div>
          <div class="card-title">
            Дарите доставку пиццы на выбор клиента, если 5 человек по его ссылке закажут пиццу
          </div>
        </div>
        <div id='content6'>
          <div class="card-type">
            Сетевой бизнес
          </div>
          <div class="card-title">
            Публикуйте на своем сайте товары, а все рассчеты ведите в Sarafan.online. Все автоматизировано
          </div>
        </div>
        <div id='content7'>
          <div class="card-type">
            Продажа сложного оборудования
          </div>
          <div class="card-title">
            Платите профессионалас за то, что они рекомендуют ваше оборудование
          </div>
        </div>
        <div id='content8'>
          <div class="card-type">
            Online-сервисы и игры
          </div>
          <div class="card-title">
            Платите внутренней валютой за привлечение новых пользователей
          </div>
        </div>

      </div>
      <div class='tab-nav'>
        <span class='next'></span>
        <span class='prev'></span>
      </div>
    </div>
  </div>
</section>
<section class="s2 s4 promotion" id="s4">
  <div class="block-title">
    Как продвигать реферальную сеть?
  </div>
  <div class="block-subtitle">
    Методами партизанского маркетинга
  </div>
  <div class="container">
    <div class="flex-center section-wrap">
      <div class="phone-wrap">
        <img src="images/s4-phone.png" alt="">

      </div>
      <div class="content-wrap">

        <ul>
          <li class="flex">
            <span class="icon">
                <img src="images/s4-white-line.png" alt="">
              </span>
            <span class="text">
                Ваши потенциальные клиенты-скорее всего, обширная аудитория.
              </span>
          </li>
          <li class="flex">
            <span class="icon">
                <img src="images/s4-white-line.png" alt="">
              </span>
            <span class="text">
                Ваши потенциальные рефералы-или довольно узкая аудитория, или
                <br>
                 они уже ваши клиенты.
              </span>
          </li>
          <li class="flex">
            <span class="icon">
                <img src="images/s4-white-line.png" alt="">
              </span>
            <span class="text">
                Донести предложение до них или дешево или бесплатно.
              </span>
          </li>
        </ul>
        <div class="adv-wrap">
          По вашей просьбе, мы настроим для вас
          <br> рекламные компании для привлечения рефералов
        </div>
        <a href="" class="orange-btn get-consulation">

            Получить консультацию
            <span class="arrow-right">
              <img src="images/btn-arrow.png" alt="">
            </span>
          </a>
      </div>
    </div>
  </div>
</section>
<section class="s5 promotion" id="s5">
  <div class="block-title">
    Тарифы
  </div>
  <div class="block-subtitle">
    Плата за использование сервиса фиксирована и не зависит от Ваших оборотов
  </div>
  <div class="container">
    <div class="flex-between section-wrap">
      <div class="card">
        <div class="header yellow">
          <div class="rate-title">
            Тариф
          </div>
          <div class="rate-name">
            программа лояльности
          </div>
        </div>
        <div class="card-body">
          <div class="rate-desc">
            <p>
              Приложение для клиентов заменит скидочные и бонусные карты
            </p>
            <p>
              Клиентам не обязательно носить с собой вашу скидочную карту,
              <br> телефон всегда с собой
            </p>
            <p>
              Клиенты узнают об акциях по
              <br> push-уведомлению в приложении
            </p>
            <p>
              Экономия на email и push-рассылках
            </p>
            <p class="red">
              Нет реферальной сети
            </p>
            <p class="red">
              Нет системы сетевого маркетинга
            </p>
          </div>
        </div>
        <div class="rate-price">
          <span class="num">
              3 000
            </span>
          <span class="rub">
              ₽
            </span>
          <span class="month">
              - месяц
            </span>
        </div>
        <a class="orange-btn choose-btn" (click)="openLoginModal()">
            Выбрать
          </a>
      </div>
      <div class="card">
        <div class="header blue">
          <div class="rate-title">
            Тариф
          </div>
          <div class="rate-name">
            реферальная сеть
          </div>
        </div>
        <div class="card-body">
          <div class="rate-desc">
            <p>
              Поощряйте клиентов, приводящих новых клиентов
            </p>
            <p>
              Приложение для клиентов заменит скидочные и бонусные карты
            </p>
            <p>
              Клиентам не обязательно носить с собой вашу скидочную карту, теле-фон всегда с собой
            </p>
            <p>
              Клиенты узнают об акциях по
              <br> push-уведомлению в приложении
            </p>
            <p>
              Экономия на email и push-рассылках
            </p>
            <p class="red">
              Нет системы сетевого маркетинга
            </p>
          </div>
        </div>
        <div class="rate-price">
          <span class="num" sarafan-order-value="trialAE154">
              5 000
            </span>
          <span class="rub">
              ₽
            </span>
          <span class="month">
              - месяц
            </span>
        </div>
        <a class="orange-btn choose-btn" (click)="openLoginModal()">
            Выбрать
          </a>
      </div>
      <div class="card">
        <div class="header purple">
          <div class="rate-title">
            Тариф
          </div>
          <div class="rate-name">
            сетевой маркетинг
          </div>
        </div>
        <div class="card-body">
          <div class="rate-desc">
            <p>
              Сетевой маркетинг: рефералы полу-чают прибыль с оборота своих рефе-ралов
            </p>
            <p>
              Поощряйте клиентов, приводящих новых клиентов
            </p>
            <p>
              Приложение для клиентов заменит скидочные и бонусные карты
            </p>
            <p>
              Клиентам не обязательно носить с собой вашу скидочную карту, теле-фон всегда с собой
            </p>
            <p>
              Клиенты узнают об акциях по
              <br> push-уведомлению в приложении
            </p>
            <p>
              Экономия на email и push-рассылках
            </p>
          </div>
        </div>
        <div class="rate-price">
          <span class="num">
              15 000
            </span>
          <span class="rub">
              ₽
            </span>
          <span class="month">
              - месяц
            </span>
        </div>
        <a class="orange-btn choose-btn" (click)="openLoginModal()">
            Выбрать
          </a>
      </div>
    </div>
    <div class="info-wrap">
      <p>
        Зарегистрируйтесь сейчас и получите
        <span class="bold-text">
            3000 рублей
          </span> на счет в подарок
      </p>
      <p>
        Пригласи знакомого и получи
        <span class="bold-text">
            +1000 рублей
          </span> себе и ему в момент его первой оплаты работы сервиса
      </p>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="flex-between section-wrap">
      <div class="left-col">
        <div class="sarafan">
          © Sarafan 2017
        </div>
        <div class="rights">
          Все права защищены
        </div>
        <a class="terms">
            Условия использования
          </a>
      </div>
      <div class="row middle-col visible-lg">
        <div class="col-md-4 left-subcol">
          <a href="#s1">
              Бизнесам
            </a>
          <a href="#s2">
              Клиентам
            </a>
        </div>
        <div class="col-md-4 middle-subcol">
          <a href="#s3">
              Кейсы
            </a>
          <a href="#s5">
              Тарифы
            </a>
        </div>
        <!--<div class="col-md-4 right-subcol">
          <a routerLink="/contacts">
              Контакты
            </a>
        </div>-->
      </div>
      <div class="row middle-col hidden-lg flex-between flex-wrap">
        <a href="#s1">
              Бизнесам
            </a>
        <a href="#s2">
              Клиентам
            </a>
        <a href="#s3">
              Кейсы
            </a>
        <a href="#s5">
              Тарифы
            </a>
        <!--<a routerLink="/contacts">
              Контакты
            </a>-->
      </div>
      <div class="right-col">
        <a href="http://creograf.ru" target="_blank" class="logo">
          <img src="images/creograf-logo.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>