<div class="modal">
  <div class="reg-modal">
    <div class="modal-title">
      Новая акция
    </div>
    <form #registerForm="ngForm" (ngSubmit)="addNewPromo()">
      <div class="modalContent">

        <md-input-container dividerColor="accent">
          <input mdInput required placeholder="Название" [(ngModel)]="newPromo.name" name="name">
        </md-input-container>
        <div class="date-picker-wrap">
          <md-input-container>
            <input mdInput [mdDatepicker]="pickerFrom" placeholder="Дата начала:" name="dateStart" [(ngModel)]="newPromo.dateStart">
            <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
          </md-input-container>
          <md-datepicker #pickerFrom></md-datepicker>

          <!-- <material-datepicker placeholder="Дата начала:" dateFormat="DD-MM-YYYY" accentColor='#6ebf33' [(date)]="newPromo.dateStart">
          </material-datepicker>
          <md-icon [style.color]="'#757575'">date_range</md-icon> -->
        </div>
        <div class="date-picker-wrap">
          <md-input-container>
            <input mdInput [mdDatepicker]="pickerTo" placeholder="Дата конца:" name="dateEnd" [(ngModel)]="newPromo.dateEnd">
            <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
          </md-input-container>
          <md-datepicker #pickerTo></md-datepicker>
          <!-- <material-datepicker placeholder="Дата конца:" dateFormat="DD-MM-YYYY" accentColor='#6ebf33' [(date)]="newPromo.dateEnd">
          </material-datepicker>
          <md-icon [style.color]="'#757575'">date_range</md-icon> -->
        </div>
        <md-input-container dividerColor="accent">
          <textarea mdInput required placeholder="Описание" [(ngModel)]="newPromo.description" name="description"></textarea>
        </md-input-container>
        <md-input-container dividerColor="accent">
          <input mdInput required placeholder="URL" [(ngModel)]="newPromo.url" name="url">
        </md-input-container>

      </div>
      <button md-raised-button type="submit" color="accent" name="save ">Добавить</button>
    </form>
  </div>
</div>
